$breakpoint-large: 1200px;
$breakpoint-medium: 800px;
$breakpoint-small: 500px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Layout when screen width < 500px
header {
  display: flex;
  background-color: rgb(238, 238, 238);
  padding: 1rem 3rem;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  i {
    font-size: 1.6rem;
  }
  nav {
    display: none;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    text-align: center;
    width: 100%;
    padding-top: 15vh;
    font-size: 1.8rem;
    height: 35vh;
    background-color: rgb(204, 221, 238);
  }
  h2 {
    position: relative;
    top: 1rem;
    font-size: 1.25rem;
  }
  .wrap {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem;
    .square {
      margin: 0.5rem;
      padding: 0.5rem;
      background-color: rgb(136, 153, 170);
      width: 90%;
      height: 30vh;
      text-align: center;
    }
  }
  div.action {
    background-color: rgb(221, 238, 255);
    padding: 1rem;
    margin-top: -0.5rem;
    margin-bottom: 2rem;
  }
}

//Layout when screen width >= 500px and < 800px

@media screen and (min-width: $breakpoint-small) {
  #logo {
    transition: 3s;
    font-size: 1rem;
  }
  main {
    .wrap {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      .square {
        width: 43%;
      }
    }
  }
}

// Layout when screen width >= 800px and < 1200px
@media screen and (min-width: $breakpoint-medium) {
  div.icon {
    display: none;
  }

  header {
    justify-content: space-between;
    nav {
      display: inline-block;
      width: 30vw;
      ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        li {
          font-size: 1rem;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-large) {
  main {
    div.wrap {
      width: 1139px;
    }
  }
}
